@import _vars

body, html, header, footer
  padding: 0
  margin: 0

body
  background-color: $bodybg
header
  background-color: $headbg
  h1
    font-family: $raleway-stack
    font-size: 2em
    font-weight: 900
    text-align: center
    margin: 0
    padding: 1.1em 0
    a
      text-decoration: none
      color: black
      :visited
        color:black

nav
  display: flex
  flex-direction: row
  flex-wrap: wrap
  justify-content: center
  align-items: flex-start
  a
    display: block
    padding: 1em
    background: white
    text-decoration: none
    color: black
    :visited
      color:black

#content
  padding: 0.5em 1em 0
  font-family: $raleway-stack
  font-weight: 400
  max-width: $max-width
  margin: 0 auto
  h2
    font-weight: 700

