@import _vars

body, html, header, footer
  padding: 0
  margin: 0
header
  background-color: green
  h1
    font-family: $raleway-stack
    font-size: 2em
    font-weight: 900
    text-align: center
    margin: 0
    padding: 1.1em 0
    a
      text-decoration: none

nav
  display: flex
  flex-direction: row
  flex-wrap: wrap
  justify-content: center
  align-items: flex-start
  a
    display: block
    padding: 1em
    background: white

#content
  background: #ddd
  padding: 0.5em 1em 0
  font-family: $raleway-stack
  font-weight: 400
  h2
    font-weight: 700

#home-section
  display: flex
  max-width: 800px
  flex-wrap: wrap
  div
    min-width: 200px
    width: 50%

