doctype html
html
	head
		!= partial('_partials/head_title')
		link(rel="stylesheet", href="/css/main.css")
		link(rel="shortcut icon", href="/img/favicon.ico")
	body
		!= partial('_partials/header')
		div(id="content")
			!= partial('_partials/nav')
			!= yield
