h1(id="greeting-home") 
	span Hello, I'm Camilo Payan.

p(id="tagline-home") I'm a web developer based in Miami. I write code, run around, and play with dogs.

div(id="writing")
	h2 Latest Writing
	h3 Post title
	p A short description would go here.

div(id="findme")
	h2 Find me online
	ul
		li
			a Github
			a Goodreads

