header
	h1 I'm Camilo Payan.
	nav
		a(href="/blog") Blog
		a(href="/about") About
		a(href="/resume") Resume
		a(href="https://github.com/camilopayan") Github
		a(href="http://www.goodreads.com/user/show/5311662-camilo") Goodreads
		a(href="https://www.linkedin.com/in/cpayan") LinkedIn
